<%- include('./includes/header') %>
<div class="container">
    <div class="row mt-5">
        <div class="col-6 mx-auto">
            <div class="card p-2 mt-5 text-center">
                <div class="card-body">
                    <i class="fab fa-node-js"></i>
                    <h1>Welcome .<%= user.name%> </h1>
                    <a href="/logout">Logout</a>
                </div>
            </div>
        </div>
    </div>
</div>
<%- include('./includes/footer') %>